body {
  background-color: beige;
  color: 0f141e;

  font-size: 18px;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ava {
  width: 800px;
  border-radius: 39px;
}
.ex {
  margin: 20px;
  padding: 10px;
  border: 5px solid rgb(52, 51, 51);
}
.cont {
  width: 80%;
  margin: auto;
}
